<div>
    <h2> Log in </h2>
    <%= form_tag 'login' do %>
        username: <%= text_field_tag :username %><br>
        password: <%= password_field_tag :password %><br>
        <%= submit_tag "Log_in"%>
    <%end%>
</div>


